.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.square {
  background-clip: padding-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent;
  float: left;
  height: 10vw;
  max-height: 50px;
  max-width: 50px;
  width: 10vw;
}

[data-turn=r][data-action=picking] .square.side-r:hover {
  border: 2px solid red;
}

[data-turn=b][data-action=picking] .square.side-b:hover {
  border: 2px solid red;
}

.square.side-b[data-selected], .square.side-r[data-selected] {
  border: 2px solid green;
}

.square.side-b[data-selected]:hover, .square.side-r[data-selected]:hover {
  border: 2px solid green;
}

.piece-bA {
  background-image: url('/svg/bA.svg');
}

.piece-bC {
  background-image: url('/svg/bC.svg');
}

.piece-bE {
  background-image: url('/svg/bE.svg');
}

.piece-bG {
  background-image: url('/svg/bG.svg');
}

.piece-bH {
  background-image: url('/svg/bH.svg');
}

.piece-bP {
  background-image: url('/svg/bP.svg');
}

.piece-bR {
  background-image: url('/svg/bR.svg');
}

.piece-rA {
  background-image: url('/svg/rA.svg');
}

.piece-rC {
  background-image: url('/svg/rC.svg');
}

.piece-rE {
  background-image: url('/svg/rE.svg');
}

.piece-rG {
  background-image: url('/svg/rG.svg');
}

.piece-rH {
  background-image: url('/svg/rH.svg');
}

.piece-rP {
  background-image: url('/svg/rP.svg');
}

.piece-rR {
  background-image: url('/svg/rR.svg');
}