.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.square {
  height: 50px;
  width: 50px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2px;
  background-position: center;
}

.square:hover {
  border: 2px solid red;
}

.square[data-selected] {
  border: 2px solid green;
}

.square[data-selected]:hover {
  border: 2px solid green;
}

.piece-bA {
  background-image: url('/svg/bA.svg');
}

.piece-bC {
  background-image: url('/svg/bC.svg');
}

.piece-bE {
  background-image: url('/svg/bE.svg');
}

.piece-bG {
  background-image: url('/svg/bG.svg');
}

.piece-bH {
  background-image: url('/svg/bH.svg');
}

.piece-bP {
  background-image: url('/svg/bP.svg');
}

.piece-bR {
  background-image: url('/svg/bR.svg');
}

.piece-rA {
  background-image: url('/svg/rA.svg');
}

.piece-rC {
  background-image: url('/svg/rC.svg');
}

.piece-rE {
  background-image: url('/svg/rE.svg');
}

.piece-rG {
  background-image: url('/svg/rG.svg');
}

.piece-rH {
  background-image: url('/svg/rH.svg');
}

.piece-rP {
  background-image: url('/svg/rP.svg');
}

.piece-rR {
  background-image: url('/svg/rR.svg');
}